* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

}
body {
    background: rgb(24,247,16);
    background: linear-gradient(90deg, rgba(24,247,16,1) 22%, rgba(36,228,161,1) 65%, rgba(46,81,140,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_svg {
    position: absolute;
    width: 10rem;
    height: 8rem;
    margin-top: -2rem;
}
.container {
    width: 80rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 6rem;
    border-radius: 1rem;
}
h1 {
    color: #000;
    text-shadow: 1rem 1rem 1rem;
}
.generate {
    font-size: 2rem;
    color: #2d2d2d;
    font-weight: bold;
}

#changeJoke {
    padding: 2rem;
    background-color: rgba(153, 41, 153, 0.856);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
}
#changeJoke:hover {
    background-color: rgba(153, 41, 153, 0.5);
    animation: rotate 1s;
    
}
.hidden {
    display: none;
}


@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(18deg);
    }
    30% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-15deg);
    }
    70% {
        transform: rotate(-18deg);
    }
    80% {
        transform: rotate(-20deg);
    }
    90% {
        transform: rotate(-22deg);
    }
    100% {
        transform: rotate(0deg);
    }
    

}